<?xml version="1.0" ?>
<simulation_behaviour>
    
    <!-- ###################################### Express with multicast destination ###################################### -->
    
    <source>00-15-12-14-88-01
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.001</interval> 					<!-- 1000x per second -->          
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>76</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>EXPRESS</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-01
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.001</interval> 					<!-- 1000x per second -->          
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>76</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>EXPRESS</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-08
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.001</interval> 					<!-- 1000x per second -->          
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>76</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>EXPRESS</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <!-- ###################################### Measurement units with multicast destination ###################################### -->
    
    <source>00-15-12-14-88-01
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->           
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-02
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-03
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-04
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-05
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-06
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-07
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-08
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-09
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-0C
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-0D
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>

    <source>00-15-12-14-88-0E
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-0F
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-10
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-11
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-12
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source> 
    
    <source>00-15-12-14-88-13
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0000125</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0B</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>             
    
    
    <!-- ###################################### TCP Traffic ###################################### -->
    
    <source>00-15-12-14-88-05								<!-- TCP Traffic Simulation MU5 to PU1 -->
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.005</interval> 					    <!-- 200x per second -->           
            <epsilon>0.0</epsilon>           			    <!-- 0.0 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-0A</destination>    
            <paketgroesse>1476</paketgroesse>               <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>LOW</priority>		                <!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-0A								<!-- TCP Traffic Simulation PU1 to MU5 -->
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.005</interval> 					    <!-- 200x per second -->           
            <epsilon>0.0</epsilon>           			    <!-- 0.0 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-05</destination>    
            <paketgroesse>40</paketgroesse>                 <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>LOW</priority>		                <!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    
    <!-- ###################################### TCP spam bot with inexisting destination address ###################################### -->
    
    <source>00-15-12-14-88-07								<!-- TCP Traffic Simulation MU7 to xx-xx-xx-xx-xx-xx -->
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.011</stopzeit> 
            <interval>0.00005</interval> 					<!-- 20000x per second -->           
            <epsilon>0.0</epsilon>           			    <!-- 0.0 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-F1</destination>    <!-- This destination does intentionally not exist -->
            <paketgroesse>1476</paketgroesse>               <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>LOW</priority>		                <!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>    

    
    <!-- ###################################### ############################################### ###################################### -->
    
</simulation_behaviour>

