<?xml version="1.0" ?>
<simulation_behaviour>
    <source>00-15-12-14-88-02
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.0000208</interval> 					<!-- 20,8 µs -->
            <epsilon>0.000003</epsilon>           			<!-- 3 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-01</destination>    
            <paketgroesse>1476</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>LOW</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-02
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.0000208</interval> 					<!-- 20,8 µs -->
            <epsilon>0.000003</epsilon>           			<!-- 3 µs -->           
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-01</destination>    
            <paketgroesse>46</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    
</simulation_behaviour>

