<?xml version="1.0" ?>
<simulation_behaviour>
    <source>00-15-12-14-88-01
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>gleichverteilte last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.060</stopzeit>            
            <last>20</last>
            <maxlast>40</maxlast>               
            <destination>00-15-12-14-88-04</destination>    
            <paketgroesse>1486</paketgroesse>      <!-- 1486 -->
            <priority>EXPRESS</priority>		<!-- EXPRESS / HIGH / LOW -->            
        </lastmuster>                
    </source>  
</simulation_behaviour>