<?xml version="1.0" ?>
<simulation_behaviour>
    <source>00-15-12-14-88-01
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-02
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-03
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-04
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-05
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-06
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-07
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-08
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.00025</interval> 					<!-- 4000x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 12.5 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>01-15-12-14-88-0A</destination>    
            <paketgroesse>136</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>HIGH</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    
    
    
    <source>00-15-12-14-88-05								<!-- TCP Traffic Simulation MU5 to PU1 -->
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.005</interval> 					<!-- 200x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 0.0 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-0A</destination>    
            <paketgroesse>1476</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>LOW</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    <source>00-15-12-14-88-0A								<!-- TCP Traffic Simulation PU1 to MU5 -->
        <lastmuster>
            <typ>hsr</typ>
            <verhalten>konstante last</verhalten>         
            <startzeit>0.001</startzeit>            
            <stopzeit>0.06</stopzeit> 
            <interval>0.005</interval> 					<!-- 200x per second -->           
            <epsilon>0.0</epsilon>           			<!-- 0.0 µs -->
            <last>0.0</last>
            <maxlast>100</maxlast>               
            <destination>00-15-12-14-88-05</destination>    
            <paketgroesse>40</paketgroesse>      <!-- size DATA FRAME (+24 = Total Framesize) -->
            <priority>LOW</priority>		<!-- EXPRESS = 0 / HIGH = 1 / LOW = 2 -->
        </lastmuster> 
    </source>
    
    
</simulation_behaviour>

